# IntelliJ IDEA
.idea/
*.iml

# Build outputs
/out/
build/
dist/
target/

# OS files
.DS_Store
Thumbs.db

# Local Derby database files
/tasksdb/
tasksdb/**

# Helper scripts
DumpTree.py

# DB logs
derby.log